version: 2
jobs:

  test-getaround-rubocop:
    docker:
      - image: cimg/ruby:4.0.1
    working_directory: /tmp/build/getaround-rubocop
    steps:
      - checkout:
          path: /tmp/build
      - run:
          name: Install dependencies (bundler)
          command: |
            gem install bundler
            bundle config set frozen true
            bundle install
      - run:
          name: Run rubocop with vanilla config
          command: |
            bundle exec rubocop \
              --config .rubocop.yml

  test-getaround_utils:
    docker:
      - image: cimg/ruby:4.0.1
    working_directory: /tmp/build/getaround_utils
    steps:
      - checkout:
          path: /tmp/build
      - run:
          name: Install dependencies (bundler)
          command: |
            gem install bundler
            bundle config set frozen true
            bundle install
      - run:
          name: Lint (rubocop)
          command: bundle exec rubocop
      - run:
          name: Test (RSpec)
          command: bundle exec rspec


workflows:
  version: 2

  test-and-deploy:
    jobs:
      - test-getaround-rubocop
      - test-getaround_utils
